@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
  --primary-color: #047aed;
}

/* base css */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Lato', sans-serif;
  color: #333;
  line-height: 1.6;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #333;
}
h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0px;
}
p {
  margin: 10px 0px;
}
img {
  width: 100%;
}

/* navbar */
.navbar {
  background-color: var(--primary-color);
  color: #fff;
  height: 70px;
}
.navbar .flex {
  justify-content: space-between;
}
.navbar ul {
  display: flex;
}
.navbar a {
  color: #fff;
  padding: 10px;
  margin: 0px 5px;
}
.navbar a:hover {
  border-bottom: 2px solid #fff;
}
/* showcase */
.showcase {
  background-color: var(--primary-color);
  height: 400px;
  color: #fff;
  position: relative;
}
.showcase h1 {
  font-size: 40px;
}
.showcase p {
  margin: 20px 0px;
}
.showcase .grid {
  grid-template-columns: 54% 44%;
  grid-gap: 30px;
}

/* utilities */
.container {
  width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0px 40px;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  justify-content: center;
  align-content: center;
  height: 100%;
}
